body {
  font-family: Arial, sans-serif;
  background-color: #5757f0; /* soft blue background */
  color: #080808;
  text-align: center;
  padding: 50px;
}

.logo {
  width: 400px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
