name: Deploy NodeJs application to Render

on:
    push:
        branches:
            - main
jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Trigger Render Deployment
              run: |
                echo "Triggering deployment on Render..."
                curl -X POST -H "Accept: application/json" \
                    -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
                    https://api.render.com/deploy/srv-xxxxxxxxxxxx
